/*.header .nav ul li{
	width: 100px;
}*/

.banner{
	position: relative;
	height: 254px;
	background-color: #0834ad;
}
.banner img{
	position: absolute;
	left: 50%;
	margin-left: -840px;
}

.content .content_hd{
	height: 69px;
	border-bottom: 1px solid #c7d6e5;
	overflow: hidden;
}
.content .content_hd h3{
	float: left;
	line-height: 80px;
	font-size: 20px;
	font-weight: bold;
	color: #444866;
	padding-left: 30px;
	background: url(../images/icons.png) no-repeat -446px 32px;
}
.content .breadNav{
	float: right;
	width: 92px;
	padding-top: 30px;
}
.content .breadNav a{
	float: left;
	width: 18px;
	height: 18px;
	background: url(../images/icons.png) no-repeat -453px -59px;
	text-indent: -999em;
	overflow: hidden;
}
.content .breadNav span{
	float: left;
	padding-left: 17px;
	background: url(../images/icons.png) no-repeat -455px -115px;
}

.content .menu{
	float: left;
	width: 195px;
	padding-top: 40px;
}
.content .menu li{
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #cad6e1;
	position: relative;
}
.content .menu li a{
	color: #44487d;
	padding-left: 50px;
	text-decoration: none;
	display: block;
	height: 80px;
}
.content .menu li a:hover{
	color: #38b774;
}
.content .menu li a.current{
	color: #38b774;
	background: url(../images/icons.png) no-repeat 187px -124px;
}
.content .menu li a b{
	position: absolute;	
	top: 50%;
	margin-top: -20px;
	left: 0;
	width: 34px;
	height: 41px;
	background: url(../images/tadejingling.png) no-repeat;
}

.content .menu li a b.android{ background-position: -4px -97px; }
.content .menu li a b.ipad{ background-position: 0 -199px; }
.content .menu li a b.PC{ background-position: 0 -295px; }
.content .menu li a b.TV{ background-position: 0 -602px; }

.content .menu li a:hover b.iphone{ background-position: -125px 0px; }
.content .menu li a:hover b.android{ background-position: -124px -97px; }
.content .menu li a:hover b.ipad{ background-position: -121px -199px; }
.content .menu li a:hover b.PC{ background-position: -120px -295px; }
.content .menu li a:hover b.TV{ background-position: -43px -602px; }
/*.content .menu li a:hover b.iphone{ background-position: -120px -400px; }*/

.content .menu li a.current b.iphone{ background-position: -125px 0px; }
.content .menu li a.current b.android{ background-position: -124px -97px; }
.content .menu li a.current b.ipad{ background-position: -121px -199px; }
.content .menu li a.current b.PC{ background-position: -120px -295px; }
.content .menu li a.current b.TV{ background-position: -43px -602px; }


.content .main{
	float: right;
	width: 757px;
	padding-top: 44px;
	overflow: hidden;
}
.content .main ul{
	width: 800px;
}
.content .main li{
	float: left;
	width: 355px;
	height: 327px;
	border: 1px solid #333;
	margin-right: 43px;
	margin-bottom: 42px;
	border-radius: 5px;
	background-color: #f7f7f7;
}
.content .main li a{
	text-decoration: none;
}
.content .main li h4{
	line-height: 58px;
	text-align: center;
	font-size: 1.333em;
}
.content .main li a span{
	font-size: 12px;
	color: green;
	padding-left: 8px;
	padding-right: 14px;
	background:url(../images/arrow.png) no-repeat right center;
}
.content .main li .pic{
	padding: 0 12px;
}
.content .main li .btns{
	padding-top: 20px;
}
.content .main li .btns .btn1{
	float: left;
	width: 135px;
	padding-left: 46px;
	line-height: 34px;
	height: 34px;
	border-right: 1px solid #c7d6e5;
}
.content .main li .btns a{
	display: block;
	padding-left: 35px;
	height: 34px;
	color: #333;
	background:url(../images/icons.png) no-repeat -446px -178px;
}
.content .main li .btns a:hover{
	color: green;
}
.content .main li .btns .btn2{
	float: left;
	width: 147px;
	height: 34px;
	line-height: 34px;
	padding-left: 26px;
}
.content .main li .btns .btn2 a{
	background-position: -442px -250px;
	padding-left: 40px;
}